.container {
    width: 85%;
    height: 100%;
    margin:  auto;
    display: flex;
    color: #737c81af;
}

.side {
    margin: auto;
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    font-size: 3rem;
    margin: 2rem 0;
    color: black;
}

.requirements {
    margin: 1rem 0;
}

.requirement_wrapper {
    display: flex;

}

.requirement {
    margin: 0 .5rem;

}

.btn {
    padding : 1rem 0;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: transparent;
    letter-spacing: 2px;
    font-weight: bold;
    transition: all .3s;
    margin: auto;
    width: 100%;
}

.btn:hover {
    letter-spacing: 8px;
}

.save {
    background-color: #5bb7ed;
    color: white;
}

.input_wrapper {
    margin: 1rem 0;
}

.input {
    border: 1px solid #737c81af;
    width: 90%;
    padding: 1rem 5%;
}


/* breakpoints */
/* Mobile */
@media only screen and (max-device-width : 480px) {
.container {
    flex-direction: column;
}

.side {
    width: 100%;
    text-align: center;
}
}