/* layout */
.container {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 10%;
    border: 1px solid #cccaca;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
}

/* content  */
.open {
    background-color: rgba(0, 0, 0, 0.603);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    opacity: 0;
    transition: all .4s ease;
    flex-grow: 1;
}

.open:hover  {
    opacity: 1;
    font-size: 2rem;
    cursor: pointer;
}

.content {
    background-color: white;
    position: relative;

}

.content:hover .btn_group{
    transform: translateY(0%);
}

.infor {
    width: 90%;
    padding: .3rem 0;
    margin: auto;
    text-transform: capitalize;
}

.name, .author {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.name {
    font-weight: bold;
    font-size: 1.2rem;
}

.author {
    display: flex;
    align-items: center;
    font-size: .8rem;
    color: #696969;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* dot */
.dot {
    display: flex;
    position: absolute;
    margin: .5rem;
    top: 0;
    right: 0;
    background-color: #5bb7ed;
    color: #5bb7ed;
    font-size: .8rem;
    border: 1px solid white;
    border-radius: 50%;
    z-index: 4;
}

/* Buttons group */
.btn_group {
    position: absolute;
    background-color: rgb(63, 63, 63);
    bottom: 0;
    left: 0;
    transform: translateY(100%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: auto;
    transition: all .4s ease;
}

.icon_wrapper {
    display: flex;
    background-color: white;
    padding: .3rem .5rem;
    height: fit-content;
    border-radius: 5px;
    cursor: pointer;
    transition: all .2s ease;
}

.icon_wrapper:hover {
    filter: invert(1);
}