.btn {
    border-radius: 100px;
    height: 4rem;
    width: 15rem;
    margin: auto;
    font-weight: 700;
    letter-spacing:2px;
    border: none;
}

.btn_wrapper {
    width: 100%;
    height: auto;
    text-align: center;
}
