.card {
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    border: none;
    border-radius: 8px;
    box-sizing: border-box;
    transition: all .4s;
    position: relative;
}